<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" configfailurepolicy="continue">
	<parameter name="productName" value="MedRev_PORTAL" />
	<listeners>
		<listener
			class-name="com.packages.common.TestResults.TestReport" />
	</listeners>
	<!-- <test verbose="2" name="MedRev_UI_Test_FF"> <parameter name="browser" 
		value="Firefox" /> <classes> <class name="com.MedRev.suits.dashboard.DashboardViewTest" 
		/> </classes> </test> -->
	<test verbose="2" name="MedRev_UI_Test_Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.MedRev.suits.test.DashboardViewTest" />
			<class name="com.MedRev.suits.test.AnalysisViewTest" />
			<class name="com.MedRev.suits.test.SurveyTableViewTest" />
			<class name="com.MedRev.suits.test.SurveyResultViewTest" />
			<class name="com.MedRev.suits.test.SendSurveyPageTest" />

		</classes>
	</test>
	<!-- <test verbose="2" name="MedRev_UI_Test_Edge"> <parameter name="browser" 
		value="Edge" /> <classes> <class name="com.MedRev.suits.dashboard.LoginTest" 
		/> </classes> </test> -->
</suite>
